<% title "Slot" %>

<p>
  <strong>Ride Slot:</strong>
  <%= @slot.ride_slot_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @slot.user_id %>
</p>
<p>
  <strong>From Loc Str:</strong>
  <%= @slot.from_loc_str %>
</p>
<p>
  <strong>To Loc Str:</strong>
  <%= @slot.to_loc_str %>
</p>
<p>
  <strong>From Datetime:</strong>
  <%= @slot.from_datetime %>
</p>
<p>
  <strong>To Datetime:</strong>
  <%= @slot.to_datetime %>
</p>
<p>
  <strong>From Flexible:</strong>
  <%= @slot.from_flexible %>
</p>
<p>
  <strong>To Flexible:</strong>
  <%= @slot.to_flexible %>
</p>
<p>
  <strong>Price:</strong>
  <%= @slot.price %>
</p>
<p>
  <strong>Number Of Seats:</strong>
  <%= @slot.number_of_seats %>
</p>

<p>
  <%= link_to "Edit", edit_slot_path(@slot) %> |
  <%= link_to "Destroy", @slot, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", slots_path %>
</p>
