<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Milemeet.com" %></title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<script type="text/javascript" src="http://platform.linkedin.com/in.js">
		api_key : cm94q465rlxo
		authorize : true
	</script>
  </head>
  <body>

	<div class="content">
		<header>
			<div class='centerbox'>
				<div class="mm-logo">
					MileMeet :)
				</div>
				<div class="mm-settings">
					<a id="sign_in" href="">Sign In</a>
				</div>
			</div>
		</header>
		<div id="page" class="centerbox">
			<div class="content-container">
				<div class="content-body">			
				<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
				<%= content_tag :h1, yield(:title) if show_title? %>
				<%= yield %>
				</div>
			</div>
			<div class="h-separator"></div>
			<div class="menu">
				<a href="about">About</a>
				<a href="howitworks">How It Works</a>
				<a href="terms">Terms And Conditions</a>
			</div>
			<div class="copyright">
				&copy; Milemeet.com Beta 2012
			</div>
		</div>
	</div>

	<div class="hidden" id="sign_in_dropdown">
		<div class="sign-in-buttons">
			<script type="in/Login">
				Hello, <?js= firstName ?> <?js= lastName ?>.
			</script>
		</div>
	</div>
  </body>
</html>
